In [8]:
import sys
import pdfplumber
import pandas as pd

from pathlib import Path
support_functions = Path('../src/functions').resolve()
sys.path.append(str(support_functions))

import support as supp

In [9]:
start_month = 1
start_year = 2023
end_month = 1
end_year = 2025

gen = supp.month_year_generator(start_month, start_year, end_month, end_year)


for month, year in gen:
    print(month,year)

2023-01-01 00:00:00 2023
2023-02-01 00:00:00 2023
2023-03-01 00:00:00 2023
2023-04-01 00:00:00 2023
2023-05-01 00:00:00 2023
2023-06-01 00:00:00 2023
2023-07-01 00:00:00 2023
2023-08-01 00:00:00 2023
2023-09-01 00:00:00 2023
2023-10-01 00:00:00 2023
2023-11-01 00:00:00 2023
2023-12-01 00:00:00 2023
2024-01-01 00:00:00 2024
2024-02-01 00:00:00 2024
2024-03-01 00:00:00 2024
2024-04-01 00:00:00 2024
2024-05-01 00:00:00 2024
2024-06-01 00:00:00 2024
2024-07-01 00:00:00 2024
2024-08-01 00:00:00 2024
2024-09-01 00:00:00 2024
2024-10-01 00:00:00 2024
2024-11-01 00:00:00 2024
2024-12-01 00:00:00 2024
2025-01-01 00:00:00 2025

In [ ]:
start_month = 1
start_year = 2023
end_month = 12
end_year = 2024


gen = supp.month_year_generator(start_month, start_year, end_month, end_year)

combined_df = pd.DataFrame()
for date, year in gen:
    pdf_path = f"../data/raw/neighbourhood-stats-{date.strftime("%b").lower()}-{year}.pdf"

    with pdfplumber.open(pdf_path) as pdf:
        text_data = []
        
        for page in pdf.pages:
            table = page.extract_table()
            if table:
                text_data.extend(table)

    columns = ["Neighbourhood", "Sex Offences", "Assaults", "Robbery", "B&E", 
            "Theft of MV", "Theft from Auto", "Theft >$5K", "Arson", 
            "Mischief", "Offensive Weapons"]
    df = pd.DataFrame(text_data[1:], columns=columns)  
    df = df.dropna()
    df['date'] = date
    combined_df = pd.concat([combined_df, df])

FileNotFoundError: [Errno 2] No such file or directory: '../data/raw/neighbourhood-stats-jan-2025.pdf'

In [ ]:
combined_df = combined_df.reset_index(drop=True)
combined_df = combined_df.dropna()

In [ ]:
combined_df

,Neighbourhood,Sex Offences,Assaults,Robbery,B&E,Theft of MV,Theft from Auto,Theft >$5K,Arson,Mischief,Offensive Weapons,date
0,Arbutus Ridge,1,1,0,5,1,4,4,0,6,0,2023-01-01
1,Central Business District,14,158,18,55,6,185,240,6,220,22,2023-01-01
2,Dunbar - Southlands,0,2,1,4,1,4,5,0,5,0,2023-01-01
3,Fairview,1,11,0,13,3,25,46,0,26,1,2023-01-01
4,Grandview - Woodland,4,18,4,21,7,41,31,0,21,4,2023-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...
620,Sunset,5,7,0,8,5,9,53,0,14,0,2025-01-01
621,Victoria-Fraserview,1,5,0,3,0,10,12,0,7,0,2025-01-01
622,West End,5,15,4,18,2,39,89,5,23,1,2025-01-01
623,West Point Grey,1,1,0,1,1,3,5,0,5,0,2025-01-01
624,Total,56,286,46,175,49,389,1064,29,397,80,2025-01-01

In [ ]:
combined_df.to_csv('../data/processed/combined.csv')